doctype
html
  head
    title Anne Graybeal.Shoes
  body
    h1 Welcome to annegraybeal.shoes!
    h2 Gatsby Shoes
    img(src="images/gatsby.png")
    h2 Shoes Gatsby Would Wear to Summer
    img(src="images/birks.png")
